.LandingPage{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}
.LPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:auto;
}
.Lpage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 98%;
    margin-top: 20px;
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgba(00, 99, 99, 1);
}
p{
    color: #fff;
}
.color{
    color: orangered;
    font-weight: bold;
    font-size: 20px;
}
.p:hover{
    color: white;
    cursor: pointer;
    
}